B24DTCN442_Phạm Hương Quỳnh/stuList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:complexType name="addressType">
        <xs:sequence>
            <xs:element name="fullName" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="gender">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Male"/>
                        <xs:enumeration value="Female"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="gpa" type="xs:decimal"/>
            <xs:element name="address" type="addressType"/>
        </xs:sequence>
        <xs:attribute name="studentId" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:element name="studentList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="studentType" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>